export DATABASE_TYPE='mysql'
export DATABASE_HOST='localhost'
export DATABASE_PORT=3306
export DATABASE_USERNAME='root'
export DATABASE_PASSWORD='94Ls!e3PYBMqyF'
export DATABASE_NAME='demo-aws-serverless'
export JWT_SECRET='e9e55780-694d-4a31-80cd-799da583e3b4'